.btn-add-order{
    width: 140px;
    font-weight: 600;
    background-color: #eaedfc;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: #4062FF;
    border-radius: 32px;
    border: none;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-add-order:hover{
    width: 140px;
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 8px;
    padding-bottom: 8px;
    color: white;
    border-radius: 32px;
    border: none;
    font-size: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.btn-box1{
    display: flex;
    justify-content: center;
    margin-left: 24px;
}