.btn-send{
    width: 150px;
    height: 42px;
    background-color: #4062FF;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box-send{
    display: flex;
    justify-content: center;
}