.btn-back{
    width: 150px;
    height: 42px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #949494;
    color: #949494;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-box{
    display: flex;
    justify-content: center;
}