.btn-complete-order {
    font-weight: 600;
    background-color: #f3f5ff;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: #4062FF;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}

.btn-complete-order:hover {
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
    border-radius: 8px;
    border: none;
    font-size: 12px;
    cursor: pointer;
}
