.small-card-delivery{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    width: 350px;
    height: 150px;
    background-color: white;
    box-shadow: 0px 0px 4px rgba(0,0,0,0.20);
    border-radius: 8px;
}

.img-delivery{
    width: 50px;
    height: 50px;
}

.individual-delivery{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

.info-delivery{
    display: block;
    line-height: 0px;
    margin-left: 24px;
}

.title-delivery{
    font-size: 12px;
    font-weight: bold;
}

.details-delivery{
    font-size:  12px;
    font-weight: 200;
    color: #8D8D8D;
}