.btn-upload{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 122px;
    height: 32px;
    color: #4062FF;
    border-radius: 8px;
    border: 1px solid #4062FF;
    padding-left: 4px;
}

.btn-name{
    font-size: 12px;
}

.file-uploaded{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.file-name{
    font-weight: 400;
    color: #4062FF;
}

.files-order{
    width: 560px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}