.logs-Kometa {
    margin-left: 30px;
}

.term-Cond {
    color: gray;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 16px;
    width: 440px;
    font-size: 12px;
}

.option-footer{
    color: gray;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 18px;
    font-size: 12px;
    text-align: right;
}

.redes-Kometa {
    margin-left: 85px;
    margin-bottom: 30px;
}


.conteiner-Footer {
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}

.conteinerFooter-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 70px;
    height: 120px;
}

.containerFooter-Right {
    margin-right: 70px;
}

.redes-K{
    margin-left: 10px;
}