.history-navbar-user {
    width: 1216px;
    height: 44px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 4px 32px;

    background: #FFFFFF;
    border-radius: 16px;

}

.bg-history{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 220px;
    left: 80px;
}

.title-navbar-h{
    font-size: 14px;
    font-weight: 500;
}

.title-navbar-h2{
    font-size: 14px;
    font-weight: 500;
    width: 120px;
}

.h-navbar-deliveryMan{
    padding-left: 0.5rem;
}

.h-navbar-order-number{
    padding-left: 2.2rem;
}

.h-navbar-price{
    padding-left: 1.5rem;
}

.h-navbar-packet{
    padding-left: 0rem;
}

.h-navbar-destination{
    padding-left: 1rem;
}

.h-navbar-status{
    padding-left: -2rem;
}

.h-navbar-origin{
    padding-right: 11rem;
}