.containerBody{
    display: flex;
    margin-bottom: 130px;
    margin-top: 70px;
    margin-right: 60px;
    /* background: yellow; */
}

.imgUser-repart{
    margin-right: 75px;
}

.textdesing{
    font-size: 50px;
}

.subTextdesing{
    font-size: 15px;
}

.containerText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flexftext-start;
    margin-left: 40px;
    /* margin-right: 100px; */
    /* background: blue; */
    flex-direction: column;
    font-size:medium;
    margin-left: 70px;
}

.textito3{
    text-align: center;
}

.containerIzquierdo {
    /* background: red; */
    display: flex;
    margin-right: 60px;
}

.containerBtn {
    /* background: green; */
    display: flex;
}

.btn-box{
    margin-bottom: 90px;
}


.containerPedidos {
    /* background: purple; */
    margin-right: 150px;
}


/*NavbarLandin*/

.navbarLandin{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 75px;
    margin-top: 30px;
}

.right-navbar{
    display: flex;
    flex-direction: row;
}

.user-picture{
    border-radius: 10px;
}

/*Imagen repartidor landin*/

.imgUser-repar{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
}

/* Comp. Landin*/
.subtitle-Landin{
    letter-spacing: 5px;
    margin-bottom: 10px;
}

/* Logo Group*/

.GroupLogs{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

/* Landin Opinion*/

.title-Landin{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;   
}

.contain_Landin{
    margin-top: 50px;
}
.contain-Icons{
    display: flex;
    justify-content: space-between;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 05px;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    margin-left: 30px;
    margin-right: 30px;
}

/* Landin Opinion */

.container-Opinion{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.text-Opinion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 60px;
    margin-left: 40px;
    padding-right: 100px;
}

/* .textito2{
    align-items: center;
    display: flex;
    justify-content: center;
} */

.textito2{
    align-items: center;
    display: flex;
    justify-content: center;
}

.start{
    margin-top: 30px;
}

/* OPINIONS */

.textclient{
    /* font: 12pt Verdana, Arial, Helvetica, sans-serif;    */
    letter-spacing: 5px;
}

/* Landing Start*/

.startText{
    display: flex;
    flex-direction: column;  
    width: 40vw;
    height: 70vw;
    margin-top: 115px;
    margin-left: 70px;
    padding: 30px;
}

.startContainer-left{
        display: flex;
        justify-content: space-around;
        flex-direction: column;
    }
    

.startConstainer{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 500px;
    margin-left: 60px;
    margin-right: 190px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgba(64, 98, 255, 0.1);
}

.startBtn{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}

.motoman{
    margin-bottom: 40px;
}

.container-work{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    margin-right: 190px;
    margin-top: 60px;
    border-radius: 30px;
    padding: 40px;
}

/* Landing Work*/

.containerWork-right{
    display: flex;
    align-items:flex-start;
    margin-top: 20px;
    padding: 30px;
}

.containerWork-right{
    display: flex;
    flex-direction: column;
}

.containerWork-text{
    margin-bottom: 30px;
}

/* Footer*/

.container-Footer{
    margin-bottom: 30px;
}

.containerFooter-left{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}

.containerFooter-Right{
    margin-right: 60px;
}


.container-Footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}


.motoman2{
    margin-bottom: 20px;
}


/* Place Order */

.startConstainer2{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 260px;
    border-radius: 30px;
    background-color: #4062FF;
}

.startBtn2{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}

.container-work2{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    margin-right: 190px;
    margin-top: 60px;
    border-radius: 30px;
    padding: 40px;
}

.subtitle-Place{
    letter-spacing: 5px;
    margin-bottom: 10px;
}

.startBtn2{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}

.btn-box2{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 350px;
    margin-left: 50px;
    border-radius: 8px;   
} 

.btnlogin2{
    bottom: 40px;
    width: 200px;
    height: 42px;
    background-color:white;
    border-radius: 8px;
    border: none;
    color: #4062FF;
    font-weight: 500;
    font-size: 14px; 
}

.motogirl{
    vertical-align: middle;
    margin-top: 35px;
    margin-right: 30px;
}

.startText2{
    display: flex;
    flex-direction: column;  
    width: 40vw;
    height: 70vw;
    margin-top: 280px;
    margin-left: 20px;
    padding: 30px;
}

.term-Cond{
    font-size: xx-small;
    color: gray;
    margin-right: 30px;
    margin-left: 30px;
}

.logs-Kometa{
    margin-left: 30px;
    margin-bottom: 20px;
}

.redes-K{
    margin-left: 60px;
}