.container-body {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 130px;
    margin-top: 90px;
    margin-right: 100px;
    margin-left: 60px;
}

.container-orders {
    margin-left: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;

}

@media screen and (max-width:768px) {
    section {
        padding: 10px;
    }

.container-text {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    font-size: medium;
    margin-left: 60px;
    padding-right: 60px;
    margin-bottom: 120px;
}

.container-img {
    margin-right: 30px;
}
}
