.containerBody{
    display: flex;
    margin-bottom: 130px;
    margin-top: 70px;
    margin-right: 60px;
    /* background: yellow; */
}


.imgUser-repart{
    margin-right: 60px;
    margin-left: 60px;
}

.textdesing{
    font-size: 50px;
}

.subTextdesing{
    font-size: 15px;
    
}

.button-login2{
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 150px;
    margin-top: 30px;
    cursor:pointer;
}

.btn-loginlanding{
    width: 700px;
}

.containerText{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: flexftext-start;
    /* margin-right: 100px; */
    /* background: blue; */
    flex-direction: column;
    font-size:medium;
    margin-left: 60px;
    padding-right: 60px;
    margin-bottom: 120px;
}

.logo-navbarLanding{
    margin-left: 30px;
    
}

/* ImgDelivery */
.imgUser-repar{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 5vw;
    margin-bottom: 5vw;
    margin-bottom: 120px;
}   

/* PlaceOrder */

.place-Constainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 80%;
    height: 260px;
    border-radius: 30px;
    background-color: #4062FF;
    margin-top: 90px;
    margin-left: 150px;
    margin-bottom: 90px;
    align-items: center;
}

.btnlogin2{
    bottom: 40px;
    width: 200px;
    height: 42px;
    background-color:white;
    border-radius: 8px;
    border: none;
    color: #4062FF;
    font-weight: 500;
    font-size: 14px; 
    cursor:pointer;
}

.startContainer-left1{
    padding-left: 50px;
    padding-right: 50px;
    
}

/* Logo group - We Make Landing*/

/* WeMakeLanding*/


.title-wemake{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;   
}

.contain-wemake{
    margin-top: 50px;
}

.subtitle-wemake{
    letter-spacing: 5px;
}

.subtitle-wemake2{
    font-size: 50px;
    line-height: 45%;
}

.contain-Icons{
    display: flex;
    justify-content: space-between;
    margin-right: 90px;
    margin-left: 90px;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 70px;
    padding-right: 70px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 05px;
}

.text-wemake3{
    font-weight: 200;
    text-align: center;
}

.text-wemake2{
    font-weight: 200;
    text-align: center;
}

/* OpinionClient */

.container-Opinion{
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.text-Opinion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 60px;
    margin-left: 40px;
    padding-right: 0px;
    padding-left: 0px;
}

.textclient{
    letter-spacing: 5px;
    font-size: 12pt;
    font-weight: 50;
}

.title-opinions{
    font-size: 50px;
}

.h6-opinion{
    text-align: center;
    font-size: 15px;
    font-weight: 100;
    padding-right: 100px;
    text-align: left;
}

.start-opinion{
    margin-top: 30px;
}

.text-wemake3{

}

/* StartWork */
.startConstainer{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 500px;
    margin-left: 75px;
    margin-top: 100px;
    border-radius: 30px;
    background-color: rgba(64, 98, 255, 0.1);
}


.subtitle-start-work{
    letter-spacing: 5px;
}

.subtitle-start-work2{
    font-size: 50px;
    line-height: 120%;
}

.button-start-order{
    color: white;
    font-weight: 500;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 150px;
    margin-top: 30px;
    cursor:pointer;
}

.startContainer-left{
    padding-left: 50px;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Work Kometa */
.conteiner-work{
    display: flex;
    justify-content: space-around;
    width: 90%;
    height: 600px;
    margin-left: 60px;
    margin-right: 190px;
    margin-top: 60px;
    border-radius: 30px;
    padding: 40px;
}

.containerWork-right{
    display: flex;
    align-items:flex-start;
    flex-direction: column;
    margin-top: 20px;
    padding: 30px;
}

.containerWork-text{
    margin-bottom: 30px;
}

.subtitle-workLandin3{
    font-size: 50px;
    line-height: 120%;
}

.subtitle-workLandin{
    letter-spacing: 5px;
}

.button-work{
    color: white;
    font-size: medium;
    font-weight: 500;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 180px;
    margin-top: 30px;
    cursor:pointer;
}

/* Footer */


.logs-Kometa{
    margin-left: 30px;
}

.term-Cond{
    font-size: xx-small;
    color: gray;
    margin-right: 30px;
    margin-left: 30px;
    line-height: 1%;
}

.redes-Kometa{
    margin-left: 85px;
    margin-bottom: 30px;
}

.conteinerOrders {
    margin-left: 60px;
}


.navbarLandin{
    display: flex;
    justify-content: space-between;
    margin-left: 60px;
    margin-right: 75px;
    margin-top: 30px;
}

.right-navbar{
    display: flex;
    flex-direction: row;
}

.user-picture{
    border-radius: 10px;
}



.subtitle-Landin2{
    font-size: 50px;
    line-height: 45%;
}



.GroupLogs{
    width: 100vw;
    display: flex;
    justify-content: center;
    margin-top: 10vw;
    margin-bottom: 10vw;
}


.containerImg{
    margin-right: 60px;
}



.container-Footer{
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    
}

.containerFooter-left{
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    
}

.containerFooter-Right{
    margin-right: 60px;
}

.text-wemake2{
    align-items: center;
    display: flex;
    justify-content: center;
}

.text-wemake{
    align-items: center;
    display: flex;
    justify-content: center;
    font-size: larger;
}

.motoman2{
    margin-bottom: 20px;
}









/* 



.startText{
    display: flex;
    flex-direction: column;  
    width: 40vw;
    height: 70vw;
    margin-top: 115px;
    margin-left: 70px;
    padding: 30px;
}



.btn-login2{
    color: white;
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 150px;
}

.button-login2{
    color: white;
    font-size: medium;
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 150px;
    margin-top: 30px;
}

.button-Box {
    color: white;
    font-size: large;
    font-weight: 500;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    border: none; 
    width: 200px;
    display: inline-block; 
    margin-bottom: 130px;
    margin-left: 90px;
}

.subTextdesing{
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    font-weight: 50px;
    line-height: 115%;
}



.startBtn{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}

.motoman{
    margin-bottom: 40px;
}





.startBtn2{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}


.startBtn2{
    display: flex;
    margin-left: 100px;
    margin-bottom: 180px;
}




.logs-Kometa{
    margin-left: 30px;
    margin-bottom: 20px;
}

.redes-K{
    margin-left: 60px;
} */