.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    background: white;
}

.login-image-container {
    position: relative;
    width: 50%;
    height: 100%;
}

.login-image-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.login-content {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-navbar {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-title {
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0px;
}

.title-log-in {
    font-size: 32px;
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.subtitle-login {
    font-size: 15px;
    font-weight: 10;
    color: #D1D1D1;
}

.login-inputs {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.login-field {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.btn-login {
    margin-top: 10px;
    color: white;
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    width: 380px;
    margin-left: 65px;
    text-align: center;
    border: none;
}



.input {
    width: 500px;
    height: 40px;
    border: 1px solid #d1d1d180;
    border-radius: 4px;
    font-size: 14px;
    color: #081020;
    padding-left: 16px;
    margin-bottom: 15px;
}

.title-input {
    font-size: 14px;
    font-weight: 600;
    color: #393939;
    margin: 1rem 0;
}

.check-container {
    display: flex;
    justify-content: center;
    line-height: 50px;
}

.checkbox {
    margin-right: 8px;
}

.btn-login:hover {
    background-color: #4062FF;
    color: white;
}

.checkbox-text {
    font-size: 13.5px;
}

.box-register {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.text-link {
    color: inherit;
    text-decoration: inherit;
    font-weight: 100;
    font-size: 13.5px;
}

@media only  screen and (max-width:768px) 
and
(max-width:1024px) 
{
    section {
        padding: 10px;
    }

    .login-image-container {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }

    .login-form {
        width: 100%;
        padding: 25px;
        background: #ffffffe6;
    }
}