.login {
    width: 100vw;
    height: 100vh;
}

.contenedor {
    background: white;
    width: 100%;
    height: 100%;
    display: flex;

}

.contenedorImagen {
    position: relative;
    width: 50%;
    height: 100%;
}

.contenedorImagen img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contenedorContenido {
    position: relative;
    display: flex;
    width: 50%;
    height: 50%;
    align-items: center;
    flex-direction: column;
}

.contenedorFormulario {
    width: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

/* .contenedorContenido {
    color: black;
    font-weight: 500;
    font-size: 2.6em;
    display: inline-block;
} */

.inputs span {
    font-size: 1em;
    display: inline;
    font-weight: 300;
    letter-spacing: 1px;
}


.btn-sesion{
    margin-top: 10px;
    color: white;
    font-weight: 600;
    background-color: #4062FF;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 8px;
    width:380px;
    margin-left: 65px;
    text-align: center;
    border: none;
}

.btn-sesion:hover{
    background-color: #4062FF;
    color: white;
}

.w-33 {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .center1 {
    line-height: 50px;
  }

.slider{
    font-size: 13.5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}



  
@media screen and (max-width:768px){
    section {
        padding: 10px;
    }
    .contenedorImagen {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        height: 100%;
    }
    .contenedorContenido{
        width: 100%;
        height: 100%;
        z-index: 3;
    }
    .contenedorFormulario {
        width: 100%;
        padding: 25px;
        background: rgba(255, 255, 255, .9);
    }
}


/*NEW CSS */

.title-login{
    font-size: 20px;
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

}

.title-log-in{
    font-size:32px;
    font-weight: 500;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
}

.subtitle-login{
    font-size: 15px;
    font-weight: 10;
    color: #D1D1D1;   
}

.init-title{
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 0px;
    position: relative;
    top: 40px;
}

.link-register{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.input{
    width: 500px;
    height: 40px;
    border: 1px solid rgb(209, 209, 209, 0.5);
    border-radius: 4px;
    font-size: 14px;
    color: #081020;
    padding-left: 16px;
    margin-bottom: 15px;
}

.title-input{
    font-size: 14px;
    font-weight: 600;
    color: rgb(57, 57, 57);
}

.inputs{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 500px;
}

.btn-box{
    display: flex;
    justify-content: center;
}

.swtich-container{
    display: flex;
    justify-content: center;
}

.checkbox{
    margin-right: 8px;
}

.navBarUno {
    width: 50vw;
    display: flex;
    justify-content: flex-end;
}

.navBarUno img {
    margin-right: 30px;
}

.subtitle-log-in{
    font-size: 15px;
    font-weight: 500;
}

.box-log-in{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}