.new-delivery {
    position: absolute;
    width: 1280px;
    height: 750px;
    left: 80px;
    top: 220px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.p-crete-delivery {
    text-align: center;
    color: #848484;
    font-size: 16px;
    font-weight: 500;
}

.image-empty {
    width: 319px;
    height: 311px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.title-new-delivery{
    color: #4062FF;
    font-weight:bolder;
}

.btn-new-delivery {
    width: 150px;
    height: 42px;
    background-color: #4062FF;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 54px;
    height: 28px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .available{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #4062FF;
    font-weight: 500;
    width: 135px;
    display: flex;
    justify-content: space-between;
  }

  .title-and-subtitle{
    line-height: 16px;
    text-align: center;
  }