/* OpinionClient */

.container-Opinion{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.text-Opinion{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-right: 40px;
    margin-left: 40px;
    padding-right: 0px;
    padding-left: 0px;
}

.textclient{
    letter-spacing: 5px;
    font-size: 12pt;
    font-weight: 600;
    color: #4062FF;
}

.title-opinions{
    font-size: 44px;
    width: 520px;
}

.h6-opinion{
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    padding-right: 100px;
    text-align: left;
    line-height: 25px;
    color: rgb(148, 148, 148);
}

.start-opinion{
    margin-top: 30px;
}

.img-Opinion{
    margin-left: 24px;
}