.orders-navbar-user {
    width: 1216px;
    height: 44px;

    display: grid;
    grid-template-columns: repeat(7, 1fr);
    align-items: center;
    padding: 4px 32px;
    gap: 16px;

    background: #FFFFFF;
    border-radius: 16px;

}

.bg-orders{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 220px;
    left: 80px;
}

.title-navbar-orders{
    font-size: 14px;
    font-weight: 500;
}

.orders-navbar-deliveryMan{
    padding-left: 0.5rem;
}

.orders-navbar-order-number{
    padding-left: 5rem;
    width: 120px;
}

.orders-navbar-price{
    padding-left: 1rem;
}

.orders-navbar-packet{
    padding-right: 6rem;
}

.orders-navbar-destination{
    padding-right: 8rem;
}

.orders-navbar-status{
    padding-right: 8rem;
}

.orders-navbar-origin{
    padding-right: 10rem;
}

.bg-component-order{
    width: 1216px;
    height: 100px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 32px;
    gap: 16px;

    background: #FFFFFF;
    border-radius: 16px;

    margin-top: 8px;
}

.details-order{
    color: gray;
}