.bg-popup-cancel-order {
    position: absolute;
    width: 100vw;
    height: 1000px;
    left: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.popup-cancel-order {
    position: relative;
    width: 328px;
    height: 240px;
    background-color: white;
    border-radius: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.title-popup-cancel {
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 16px;
}

.text-popup-cancel {
    font-weight: 300;
    font-size: 12px;
    color: gray;
    text-align: center;
    width: 280px;
    line-height: 18px;
    margin-bottom: 32px;
}

.btns-popup-cancel {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 240px;
}

.btn-cancel-popup {
    width: 115px;
    height: 40px;
    background-color: white;
    border-radius: 8px;
    border: 0.5px solid #949494;
    color: #949494;
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}