
.title-wemake{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center; 
    margin-top: 10px;   
}

.contain-wemake{
    width: 100%;
    margin-top: 50px;
}

.subtitle-wemake{
    letter-spacing: 5px;
    font-size: 12pt;
    font-weight: 50;
    color: #4062FF;}

.subtitle-wemake2{
    font-size: 50px;
    line-height: 45%;
}


.contain-Icons{
    display: flex;
    justify-content: space-between;
    width: 100vw;
    margin-top: 60px;
    margin-bottom: 60px;
}

.box1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33vw;
    margin-left: 30px;
    margin-right: 30px;
    padding-left: 80px;
    padding-right: 80px;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 05px;
}

.text-wemake3{
    font-weight: 200;
    text-align: center;
    font-size: 15px;
    line-height: 25px;
    margin-top: 5px;
}

.text-wemake2{
    font-weight: 200;
    text-align: center;
}

.text-wemake{
    margin-top: 30px;
    font-size: 15px;    
}

@media screen and (max-width:720px) and
(max-width:1700px){

    .title-wemake{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center; 
        margin-top: 10px;   
    }
    
    .contain-wemake{
        margin-top: 50px;
    }
    
    .subtitle-wemake{
        letter-spacing: 5px;
        font-size: 12pt;
        font-weight: 50;
        color: #4062FF;}
    
    .subtitle-wemake2{
        font-size: 50px;
        line-height: 45%;
    }
    
    
    .contain-Icons{
        display: flex;
        justify-content: space-between;
        width: 50vw;
        margin-top: 60px;
        margin-bottom: 60px;
    }
    
    .box1{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 33vw;
        margin-left: 30px;
        margin-right: 30px;
        padding-left: 80px;
        padding-right: 80px;
    }
    
    .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 05px;
    }
    
    .text-wemake3{
        font-weight: 200;
        text-align: center;
        font-size: 15px;
        line-height: 25px;
        margin-top: 5px;
    }
    
    .text-wemake2{
        font-weight: 200;
        text-align: center;
    }
    
    .text-wemake{
        margin-top: 30px;
        font-size: 15px;    
    }



}